[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=23.20.249.2
Environment=CATALOGUE_HOST=3.95.20.21
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target